<h1><%= "#{@album.name} by #{@album.user.username}" %></h1>

<% if @album.user == current_user and current_user %>
    <%= link_to 'Change album name', edit_album_path, class:'btn btn-primary' %>
    <%= link_to 'Delete album', album_path, class:'btn btn-danger', method: :delete, data: { confirm: 'Do you really want to delete this album' } %>
<% end %>


<% unless @album.images.empty? %>
    <p><strong>Album has the following images</strong></p>
    <%= render 'images/image_grid', images: @album.visible_images_for(current_user), size: :medium %>
<% end %>